<?xml version="1.0" encoding="utf-8"?>
<config>
        <fieldset
                name="Basic"
                label="COM_HUGNET_BASIC_SETTINGS_LABEL"
                description="COM_HUGNET_BASIC_SETTINGS_DESC"
        >
                <field
                        name="hugnet_api_url"
                        type="text"
                        label="COM_HUGNET_API_URL_LABEL"
                        description="COM_HUGNET_API_URL_DESC"
                        size="40"
                        class="inputbox"
                        validate="url"
                        required="true"
                        default="http://localhost/HUGnetLibAPI.php"
                />
        </fieldset>
</config>
